@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
  --brandBgColor: #FFF9F5;
  --brandBtnColor: #0070F6;
  --brandTextColor: #F7FDFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.outerContainer {
  /* min-width: 100%; */
  width: 100%;
  min-height: 100vh;
  background-color: #FFF9F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.headingDetail h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 85px 0 50px;
  letter-spacing: 1px;
  text-align: center;
}

.headingDetail p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.contentDetail {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.passImage {
  flex: 1;
}

.passImage img {
  width: 100%;
  min-width: 250px
}

.passDetail {
  flex: 2;
  padding: 5%;
}

.inputWrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.cpyBtn {
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--brandTextColor);
  background-color: var(--brandBtnColor);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.cpyBtn:hover {
  padding-inline: 40px;
  background-color: #002df6;
}

.inputDetail {
  min-width: 500px;
  width: 65%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #FFFFFF;
}


.inputDetail input {
  font-size: 18px;
  outline: none;
  border: none;
  width: 55%;
  background: transparent;
  flex: 3;
}

.inputDetail>div {
  display: flex;
  gap: 15px;
}

.inputDetail .passPower {
  font-size: 14px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--brandBtnColor);
  color: var(--brandTextColor);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.refreshBtn {
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  scale: 1.2;
}

.passLengthWrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.passLengthWrapper>p {
  font-size: 22px;
  flex: 1;
}

.passLengthVal {
  color: #414141;
  font-weight: 700;
  margin-left: 10px;
}

.passLengthWrapper .rangeWrapper {
  display: flex;
  flex: 2.1;
  min-width: 320px;
}

.rangeWrapper button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.616);
  font-size: 30px;
  color: gray;
  cursor: pointer;
  background-color: transparent;
}

.rangeWrapper button:active {
  scale: 0.95;
}

.rangeWrapper input[type=range] {
  width: 250px;
  background-color: green;
  margin-inline: 10px;
}

input[type=range]::-webkit-slider-thumb {
  padding: 10px;
}

.charsUsed {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 22px;
  gap: 100px;
}

.charsUsed .charInputWrap {
  display: flex;
  gap: 50px;
  margin-left: 15px;
}

.charInputWrap>div {
  display: flex;
  align-items: center;
}

.charInputWrap input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.charInputWrap label {
  color: #414141;
  font-weight: 700;
}

@media screen and (max-width:768px) {
  .headingDetail {
    padding: 10px;
  }

  .headingDetail h1 {
    margin: 10px;
    font-size: 30px;
  }

  .headingDetail p {
    font-size: 16px;
  }

  .passDetail {
    padding: 15px;
    margin-bottom: 20px;
  }

  .inputDetail {
    min-width: 320px;
  }

  .inputDetail input {
    width: 100px;
    font-size: 14px;
  }

  .inputDetail .passPower {
    font-size: 12px;
  }

  .passLengthWrapper {
    gap: 10px;
  }

  .passLengthWrapper>p {
    font-size: 16px;
    flex-basis: 200px;
  }

  .rangeWrapper button {
    height: 25px;
    width: 30px;
    font-size: 15px;
  }

  .passLengthWrapper .rangeWrapper {
    flex: none;
  }

  .rangeWrapper input[type=range] {
    width: 100%;
  }

  .charsUsed {
    gap: 10px;
    flex-wrap: wrap;
  }

  .charsUsed p {
    font-size: 16px;
    flex-basis: 100px;
  }

  .charsUsed label {
    font-size: 14px;
  }

  .charsUsed .charInputWrap {
    gap: 20px;
  }

}